<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.sebas.lector">
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
    <application>
        <uses-library android:name="com.symbol.emdk"/>
    </application>
</manifest>